@page
@using Microsoft.AspNetCore.Mvc.Localization
@using ProductManagement.Localization
@using ProductManagement.Web.Pages.Addresses
@using Volo.Abp.AspNetCore.Mvc.UI.Bootstrap.TagHelpers.Modal
@using ProductManagement.Addresses;
@using System.Globalization
@inject IHtmlLocalizer<ProductManagementResource> L
@model EditModalModel
@{
    Layout = null;
}

<form data-ajaxForm="true" asp-page="/Addresses/EditModal" autocomplete="off">
    <abp-modal id="AddressEditModal">
        <abp-modal-header title="@L["Update"].Value"></abp-modal-header>

        <abp-modal-body>
                    <abp-input asp-for="Id" />
                    <abp-input asp-for="Address.ConcurrencyStamp" hidden="true" suppress-label="true"/>
                    
            <abp-input asp-for="Address.CIty"  />

            <abp-input asp-for="Address.State"  />

            <abp-input asp-for="Address.PostalCode"  />

            <abp-select asp-for="Address.Country"  />

            <abp-input asp-for="Address.UserId"  />

            <abp-input asp-for="Address.StreetAddress" text-area />

                    
                
        </abp-modal-body>

        <abp-modal-footer buttons="@(AbpModalButtons.Cancel|AbpModalButtons.Save)"></abp-modal-footer>
    </abp-modal>
</form>